<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메모톡 인증번호 안내</title>
  <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css" rel="stylesheet">
  <link href='https://fonts.cdnfonts.com/css/poppins' rel='stylesheet'>
</head>


<body style="margin: 0 auto; font-family: 'Pretendard Variable', 'Poppins', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-style: normal;">
<div style="width: 100%; height: 100vh; padding: 3.5rem 4.5rem 0 4.5rem;">
  <div style="padding-bottom: 24px;">
    <img alt="Memotalk" src="https://memotalk.s3.ap-northeast-2.amazonaws.com/static/ic_logo.png" style="vertical-align: middle; width: 24px; height: 24px;">
    <span style="font-family: 'Poppins'; font-weight: 600; font-size: 0.75rem; color: #454545; vertical-align: middle; padding-left: 8px;">Memotalk</span>
  </div>

  <div style="margin-top: 24px; margin-bottom: 35px;">
    <h1 style="font-weight: 700; font-size: 1.5rem; line-height: 1.8125rem; color: #212121; margin: 0 0 16px 0;">메모톡 인증번호 안내</h1>
    <p style="font-weight: 400; font-size: 1rem; line-height: 1.5rem; color: #454545; margin: 0;">
      안녕하세요, 메모톡입니다.<br>
      <b style="font-weight: 600; color: #212121;">‘계정 등록’</b>을 위해 이메일 인증을 진행합니다.<br>
      아래 발급된 이메일 인증번호를 복사하거나 직접 입력하여 인증을 완료해 주세요.
    </p>
  </div>

  <div style="height: 56px; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; line-height: 56px;">
    <span style="padding-left: 1rem; font-weight: 500; font-size: 1rem; color: #212121;">인증번호:</span>
    <span style="font-weight: 500; font-size: 1rem; color: #2487e2; padding-left: 1rem; letter-spacing: 0.05rem;" th:text="${authCode}"></span>
  </div>
</div>
</body>
</html>